
<div class="d-flex bg-dark">
  <div class="w-50 m-3 bg-white text-center">

      <div class="mt-3 mx-auto">

        <img height="200px" width="200px" src="../assets/Images/mobile2.png">
      </div>
      <a href="#" class="btn btn-primary btn-sm mb-4 mt-4   stretched-link">Add To Cart</a>

    </div>

  <div class=" w-75 m-3 bg-white">
    A mobile phone (also known as a hand phone, cell phone, or cellular telephone) is a small portable radio telephone. The mobile phone can be used to communicate over long distances without wires. It works by communicating with a nearby base station (also called a "cell site") which connects it to the main phone network.

  </div>
</div>
