<h1 class="text-white">Shopping Cart</h1>





<div class="bg-light d-flex">

<div class="d-flex w-75 bg-light flex-wrap">
  <div *ngFor="let Detail of Cart" class=" mt-5 m-2 ml-4 d-flex">

 <div class="m-3"> <img  height="180px" width="100px"  src="{{Detail.items.image}}"></div>
<div class="row m-3 bg-white">
  <div class="card bg-white" style="width: 40rem">
    <div class="card-body text-center ">
      <button (click)="removeitem(Detail.items.product_id)" type="button" class="close btn btn-lg" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    <h3 class="card-title">Product Name:- {{Detail.items.name}}</h3>
      <h4 class="card-title">Price:- {{Detail.items.price}}</h4>

      <h3><span class=" badge badge-primary">{{Detail.items.catogory}}</span></h3>
      <div class="d-flex justify-content-center">
      <h4><span class="badge badge-secondary">{{Detail.items.subcatogory}}</span></h4>
        <h4> <span class="badge badge-success">Satisfied</span></h4>
          <h4> <span class="badge badge-danger">Best-dealer</span></h4>
            <h4> <span class="badge badge-warning">Tags</span></h4>
      </div>
      <div class="mt-2 d-flex justify-content-center"><div><h2>Quantity:</h2></div>
      <div>  <h2><span class="glyphicon glyphicon-minus table-bordered a" (click)="SUBQuantity(Detail.items.product_id)"></span> {{Detail.quantity}} <span class="glyphicon glyphicon-plus border a" (click)="ADDQuantity(Detail.items.product_id)" ></span></h2>
      </div>
      </div>

    </div>
  </div>
</div>

    <div> <h3 class="card-text mt-2 " style="margin-left:30px;"><b>Details:-</b> {{Detail.items.details}}</h3></div>
  <hr>



    </div>
  <div><hr/></div>
</div>

  <div class="m-5" >
    <div class="card border-primary mb-3 text-center card1  rounded" style="width: 250px; height: 250px" >
      <div class="card-body">
<div class="justify-content-center"> <h1 class="text-danger"><u>Summary</u></h1></div>
      <div class="d-flex mt-3"><h3 class="text-uppercase" >Subtotal :-</h3> <h3 class="text-danger"> {{total}}</h3></div>
        <div *ngIf="total<500 && this.total > 0">
          <div class="d-flex "><h3>Delivery Charges:- <span class="text-danger">40</span></h3></div>
        </div>

        <div class="d-flex"><h3>GST</h3><h4 class="text-primary">(including all other Taxes):-</h4><h3 class="text-danger">{{tax}}</h3></div>
        <h2 class="d-flex text-uppercase text-success"><div>Total Price:-</div> <div class="bg-danger text-white">{{totalprice}}</div></h2>
        <div class="btn btn-primary btn-lg b card2 mr-4" (click)="productPurchased()">Pay Now</div>
      </div>
    </div>
  </div>

</div>

