<ul class="nav nav-pills nav-fill bg-info">
  <li class="nav-item">
    <a [routerLink]="['/home']" class="nav-link text-white" href="#">HOME</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/electronics']" class="nav-link text-white" href="#">ELECTRONICS</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/books']" class="nav-link text-white" href="#">BOOKS</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/shoes']" class="nav-link text-white" href="#">SHOES</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/clothings']" class="nav-link text-white" href="#">CLOTHINGS</a>
  </li>
</ul>

