<div class="d-flex">
  <div class="w-25">
<div class="card" style="width:300px">
  <img height="400px" class="card-img-top" src="../assets/Images/profile.jpg" alt="Card image" style="width:100%">
  <div class="card-body">
    <h4 class="card-title">Rahul Sharma</h4>
    <p class="card-text"> Rahul sharma is an architect and engineer</p>
    <a href="#" class="btn btn-primary stretched-link">See Profile</a>
  </div>
</div>
  </div>
  <div class="w-75 bg-dark text-white">
    <form action="/action_page.php">
      <div class="form-group">
        <label for="email">Name:</label>
        <input type="email" class="form-control w-50" id="email" placeholder="Enter Name" name="email">
      </div>
      <div class="form-group">
        <label for="pwd">Email Address:</label>
        <input type="password" class="form-control w-50" id="pwd" placeholder="Enter email Address" name="pswd">
      </div>

    </form>
  </div>
</div>
